body {
    font-family: 'Arial', sans-serif;
    background-image: url("old-bearded-senior-man-with-calculator-and-bills-counting-euro-money-at-home-2J1WMW6.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .age-calculator {
    background-color: #fa6b6b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 5px;
    border: 1px solid #a35454;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #3295ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #063a71;
  }
  
  .result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
  }
  
  .result span {
    font-weight: bold;
    color: #282b2e;
  }